<style media="screen">
body{
  background: blue;
  width: 100%;
  height: 140px;

}

.menu{
  margin: 0;
  width: 100%;
  position: sticky;

}
body{
  background: #bec0c6;

}
nav{
  width: 20%;
  height: 400px;
  background: #000;
}
ul.horizontal{
  list-style-type: none;
  padding: 10px;
  margin: 20px;
  overflow: hidden;
  background-color: #000;
 ;
  text-align: center;
  li
}
ul.horizontal li {
text-align: center;
display: inline-block;
list-style: none;
}
ul.horizontal li a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #1a000d;
}
ul.horizontal li a:hover{
  background: #f3f3f3;
  color: #444444;

}
